.top-header {
  background-color: rgb(157, 235, 170);
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

.your-name {
  display: flex;
  justify-content: center;
}