.top-header {
  background-color: lightgreen;
  height: 400px;
  width: 100%;
  background-color: #abee3f;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

.your-name {
  display: flex;
  justify-content: center;
}